/* Fundo */


body{
   background: #058E39;
   background-size: 100%;
}


/* Titulo */


nav{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: -80px;
}
.titulo{
    color: #FFCB0E;
    font-family: "Irish Grover";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px;
}

.titulopng{
    width: 55px;
    height: 55px;
    aspect-ratio: 63.17/63.49;
}

.linha{
    width: 80%;
    height: 4px;
    background: rgba(255, 238, 0, 0.93);
    margin-top: -60px;
}


/* Seção jogos */

.h2{
    display: flex;
    unicode-bidi: isolate;
    padding: 5px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: -35px;
}

.subtitulo{
    font-family: "Irish Grover";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
}




/* Cartas */


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.card{
    width: 100%;
    height: 300px;
    border-radius: 16px;
    position: relative;
    transition: all 1000ms ease;
    transform-style: preserve-3d;
    cursor:pointer;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    border: 2px solid rgba(218, 228, 21, 0.267);
}

.front{
    transform: rotateY(180deg);
}

.back{
    backface-visibility: hidden;
    background-image: url("fundo.png");
}
.is-rotating{
    pointer-events: none;
}

.reveal-card{
    transform: rotateY(180deg);
}


/* Criadores */


.Retangulo2{
    width: 188px;
    height: 32px;
    border-radius: 16px;
    background: #FE0;
    margin-inline: 235px;
}

a{
    text-decoration: none;
}

.quiz{
    color: #5197FF;
    font-family: "Irish Grover";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-inline-start: 0%;
    text-align: center;
}

.criadores {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   gap: 10px;
   align-content: center;
   justify-content: center;
   margin-left: -30px;
}

.nomes{
    color: #FFF;
    font-family: "Irish Grover";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.seção{
    display: flex;
    unicode-bidi: isolate;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 20px;
}

.solare{
    width: 808px;
    height: 377px;
    aspect-ratio: 167/84;
    opacity: 0.75;
    margin-top: 20px;
    margin-bottom: -20px;
    display: flex;
}